<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <img src="~/img/tada-spelos.webp" width="350" height="350" />
            <h1 class="display-4">Welcome to Streamnesia 3.0</h1>
            <p>The next generation of the crazy chaos mod you know and love!</p>
        </div>
    </main>
</div>
