@model IndexViewModel
@{
    ViewData["PayloadDev"] = Model.DeveloperMode;
}

<div class="container">
    <main role="main" class="pb-3">
        <div id="SplashScreen">
            <div class="row">
                <div class="col-2 ms-auto">
                    <button type="button" class="btn-close" aria-label="Close" onclick="closeSplash()"></button>
                </div>
            </div>
            <div class="text-center">
                <img src="~/img/tada-spelos.webp" width="350" height="350" />
                <h1 class="display-4">Welcome to Streamnesia 3.1.0</h1>
                <p>The next generation of the crazy chaos mod you know and love!</p>
            </div>
        </div>

        <ol class="list-group list-group-numbered" id="WidgetsWrapper">
        </ol>

        <div class="container py-4">
            <div class="row g-2">
                <button id="TwitchChaosBtn" onclick="startTwitchPoll()" class="btn btn-primary btn-lg" disabled>Start Twitch Poll</button>
                <button id="LocalChaosBtn" onclick="startLocalChaos()" class="btn btn-secondary btn-lg" disabled>Start Local Chaos</button>

                <div class="text-center">
                    <div id="ChaosErrorLabel" style="visibility: hidden" class="alert alert-danger" role="alert">
                    </div>
                </div>

                <div class="card mb-4 p-3" style="border: 2px solid black;">
                    <div class="row g-3 align-items-center">

                        <!-- Left: Skeleton Image -->
                        <div class="col-md-4">
                            <img src="~/img/error-spelos.webp" class="img-fluid" alt="Spooky Skeleton" />
                        </div>

                        <!-- Right: Text and Button -->
                        <div class="col-md-8">
                            <h4><strong>This is an early build!</strong></h4>
                            <p>
                                This project is still in development. That means things might break, behave strangely, or just burst into flames, skeleton and all.
                                <br><br>
                                If you encounter a bug, glitch, or something that feels off, please help us improve the experience by reporting it on GitHub.
                            </p>

                            <div class="text-start mt-3">
                                <a href="https://github.com/amnesia-spelos/streamnesia/issues/new" class="btn btn-outline-primary">
                                    🐞 Create New Issue
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- START: Payloads -->
<template id="payload-state-ready">
    <li class="list-group-item">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">📦</span> Load Payloads
            </div>
            <span class="text-wrap">First, let's load all payloads</span>
        </div>
        <div class="alert alert-warning" role="alert">
            The game must <strong>NOT</strong> be running! Otherwise custom assets won't load until game restart
        </div>

        <button id="BtnLoad" type="button" class="btn btn-success w-100 mb-2">Load</button>
    </li>
</template>
<template id="payload-state-progress">
    <li class="list-group-item list-group-item-primary">
        <div class="mb-2">
            <div class="fw-bold mb-2">
                <span class="me-1">📦</span> Load Payloads
            </div>
            <div class="d-flex align-items-center justify-content-start gap-2">
                <div class="spinner-border spinner-border-sm text-primary" role="status" style="width: 1.5rem; height: 1.5rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <span class="text-wrap">Preparing payloads...</span>
            </div>
        </div>
    </li>
</template>
<template id="payload-state-error">
    <li class="list-group-item list-group-item-danger">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">📦</span> Load Payloads
            </div>
            <span id="ErrorSpan" class="text-wrap"></span>
        </div>
        <button id="BtnRetry" type="button" class="btn btn-danger w-100 my-2">Retry</button>
    </li>
</template>
<template id="payload-state-success">
    <li class="list-group-item list-group-item-success">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">📦</span> Load Payloads
            </div>
            <span class="text-wrap">Loaded – no action needed</span>
        </div>
        <button id="BtnReload" type="button" class="btn btn-outline-secondary w-100 my-2">Reload</button>
    </li>
</template>
<!-- END: Payloads -->
<!-- START: Game Connection -->
<template id="game-state-disabled">
    <li class="list-group-item list-group-item-secondary">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">🎮</span> Connect Amnesia
            </div>
            <span class="text-wrap">Please complete the previous step first</span>
        </div>
    </li>
</template>
<template id="game-state-ready">
    <li class="list-group-item">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">🎮</span> Connect Amnesia
            </div>
            <span class="text-wrap">Now it's time to start the game and connect to it</span>
        </div>
        <div class="alert alert-info" role="alert">
            Open Amnesia.exe before connecting
        </div>

        <button id="BtnConnectGame" type="button" class="btn btn-success w-100 mb-2">Connect</button>
    </li>
</template>
<template id="game-state-progress">
    <li class="list-group-item list-group-item-primary">
        <div class="mb-2">
            <div class="fw-bold mb-2">
                <span class="me-1">🎮</span> Connect Amnesia
            </div>
            <div class="d-flex align-items-center justify-content-start gap-2">
                <div class="spinner-border spinner-border-sm text-primary" role="status" style="width: 1.5rem; height: 1.5rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <span class="text-wrap">Connecting...</span>
            </div>
        </div>
    </li>
</template>
<template id="game-state-error">
    <li class="list-group-item list-group-item-danger">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">🎮</span> Connect Amnesia
            </div>
            <span id="ErrorSpan" class="text-wrap"></span>
        </div>
        <button id="BtnRetryGame" type="button" class="btn btn-danger w-100 my-2">Retry</button>
    </li>
</template>
<template id="game-state-success">
    <li class="list-group-item list-group-item-success">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">🎮</span> Connect Amnesia
            </div>
            <span class="text-wrap">Connected – no action needed</span>
        </div>
        <button id="BtnDisconnectGame" type="button" class="btn btn-outline-secondary w-100 my-2">Disconnect</button>
    </li>
</template>
<!-- END: Game Connection -->
<!-- START: Twitch bot -->
<template id="twitch-state-disabled">
    <li class="list-group-item list-group-item-secondary">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">🤖</span> Twitch bot
            </div>
            <span class="text-wrap">Please complete the previous step first</span>
        </div>
    </li>
</template>
<template id="twitch-state-ready">
    <li class="list-group-item">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">🤖</span> Twitch bot
            </div>
            <span class="text-wrap">If your bot configuration is set up in the settings, this step will connect the Twitch bot</span>
        </div>

        <button id="BtnConnect" type="button" class="btn btn-success w-100 mb-2">Connect</button>
    </li>
</template>
<template id="twitch-state-progress">
    <li class="list-group-item list-group-item-primary">
        <div class="mb-2">
            <div class="fw-bold mb-2">
                <span class="me-1">🤖</span> Twitch bot
            </div>
            <div class="d-flex align-items-center justify-content-start gap-2">
                <div class="spinner-border spinner-border-sm text-primary" role="status" style="width: 1.5rem; height: 1.5rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <span class="text-wrap">Connecting...</span>
            </div>
        </div>
    </li>
</template>
<template id="twitch-state-error">
    <li class="list-group-item list-group-item-danger">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">🤖</span> Twitch bot
            </div>
            <span id="ErrorSpan" class="text-wrap"></span>
        </div>
        <button id="BtnRetry" type="button" class="btn btn-danger w-100 my-2">Retry</button>
    </li>
</template>
<template id="twitch-state-success">
    <li class="list-group-item list-group-item-success">
        <div class="mb-2">
            <div class="fw-bold">
                <span class="me-1">🤖</span> Twitch bot
            </div>
            <span class="text-wrap">Connected – no action needed</span>
        </div>
        <button id="BtnDisconnect" type="button" class="btn btn-outline-secondary w-100 my-2">Disconnect</button>
    </li>
</template>
<!-- END: Twitch bot -->

@section Scripts
{
    <script src="~/js/dashboard.js"></script>

    <script>
        SetWidgetState("twitch", "@(Model.CurrentTwitchBotState.ToString())");
        SetWidgetState("amnesia", "@(Model.CurrentAmnesiaClientState.ToString())");
        SetWidgetState("payloads", "@(Model.PayloadsLoaded ? "success" : "ready")");
    </script>

    @if (Model.LocalChaosRunning || Model.TwitchChaosRunning)
    {
        <script>
            twitchChaosButton.disabled = true;
            localChaosButton.disabled = true;
        </script>
    }
}
