@model IndexViewModel

<div class="container">
    <main role="main" class="pb-3">
        <div id="SplashScreen">
            <div class="row">
                <div class="col-2 ms-auto">
                    <button type="button" class="btn-close" aria-label="Close" onclick="closeSplash()"></button>
                </div>
            </div>
            <div class="text-center">
                <img src="~/img/tada-spelos.webp" width="350" height="350" />
                <h1 class="display-4">Welcome to Streamnesia 3.0</h1>
                <p>The next generation of the crazy chaos mod you know and love!</p>
            </div>
        </div>
        <div class="container py-4">
            <div class="row g-2">
                <div class="col-md-6">
                    <div class="card border">
                        <div id="AmnesiaTile" class="card-body d-flex align-items-center gap-3">
                            <div id="AmnesiaTileCircle" class="rounded-circle bg-secondary d-flex justify-content-center align-items-center" style="width: 40px; height: 40px;">
                                <img src="~/img/game-icon.svg" width="30" height="30" class="d-block mx-auto mt-1" />
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-1">Amnesia Game Client</h6>
                                <small id="AmnesiaTileDesc" class="text-muted"></small>
                            </div>
                            <div id="AmnesiaTileActionsDiv"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card border">
                        <div id="TwitchTile" class="card-body d-flex align-items-center gap-3">
                            <div id="TwitchTileCircle" class="rounded-circle bg-secondary d-flex justify-content-center align-items-center" style="width: 40px; height: 40px;">
                                <img src="~/img/robot-icon.svg" width="25" height="25" class="d-block mx-auto mt-1" />
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-1">Twitch Bot</h6>
                                <small id="TwitchTileDesc" class="text-muted"></small>
                            </div>
                            <div id="TwitchTileActionsDiv"></div>
                        </div>
                    </div>
                </div>

                <button id="TwitchChaosBtn" onclick="startTwitchPoll()" class="btn btn-primary btn-lg" disabled>Start Twitch Poll</button>
                <button id="LocalChaosBtn" onclick="startLocalChaos()" class="btn btn-secondary btn-lg" disabled>Start Local Chaos</button>

                <div class="text-center">
                    <div id="ChaosErrorLabel" style="visibility: hidden" class="alert alert-danger" role="alert">
                    </div>
                </div>

                @*              
                <button onclick="loadPayloadsTest()" class="btn btn-outline-primary btn-sm">📦 Load Payloads</button>
                <button onclick="startTwitchBot()" class="btn btn-outline-secondary btn-sm">🤖 Start Twitch bot</button>
                <button onclick="runCmdQueueTest()" class="btn btn-outline-secondary btn-sm">▶️ Run Command Queue Test</button>
                *@
            </div>
        </div>
    </main>
</div>

@section Scripts
{
    <script src="~/js/dashboard.js"></script>

    <script>
        setAmnesiaTileState("@Model.CurrentAmnesiaClientState", "");
        setTwitchTileState("@Model.CurrentTwitchBotState");
    </script>
}
