@model Streamnesia.Client.Models.SettingsModel

<div class="container">
    <main role="main" class="pb-3">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }

        <div class="alert alert-info" role="alert">
            Don't forget to save! The save button is all the way at the bottom.
        </div>

        <form asp-action="SaveSettings" method="post" id="settingsForm">
            <!-- Twitch Bot Config Section -->
            <div class="card mb-4">
                <div class="card-header">
                    Twitch Bot Config
                </div>
                <div class="card-body">
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="TwitchChannelNameDesc">Twitch Channel</span>
                        <span class="input-group-text">https://twitch.tv/</span>
                        <input asp-for="TwitchBotConfig.TwitchChannelName" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="TwitchChannelNameDesc">
                    </div>
                    <span asp-validation-for="TwitchBotConfig.TwitchChannelName" class="text-danger mb-3 d-block"></span>

                    <div class="input-group mb-1">
                        <span class="input-group-text">Twitch bot name</span>
                        <input asp-for="TwitchBotConfig.BotName" type="text" class="form-control" aria-label="Bot Name">
                        <span class="input-group-text">Twitch bot API key</span>
                        <input asp-for="TwitchBotConfig.BotApiKey" type="text" class="form-control" aria-label="API Key" id="BotApiKey">
                        <div class="input-group-text">
                            <input class="form-check-input" type="checkbox" id="showApiKeyToggle" onchange="toggleApiKeyVisibility()">
                            <label class="form-check-label" for="showApiKeyToggle" style="margin-left: 5px; font-size: 14px; padding-top: 3px;">Show</label>
                        </div>
                    </div>
                    <span asp-validation-for="TwitchBotConfig.BotName" class="text-danger d-block"></span>
                    <span asp-validation-for="TwitchBotConfig.BotApiKey" class="text-danger mb-2 d-block"></span>
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">Getting your twitch bot information</h4>
                        <p>In order to get your twitch bot up and running, you will need to obtain a bot API key. Don't worry, it's just a couple of clicks and a login.</p>
                        <hr>
                        <p>1) go to <a href="https://twitchtokengenerator.com/" class="alert-link">Twitch Token Generator</a>.</p>
                        <p>2) click "Bot Chat Token"</p>
                        <p>3) log in - verify you're not a robot</p>
                        <p>4) under "Generated Tokens" copy the value of "ACCESS TOKEN"</p>
                        <p>5) Paste the token into the API Key section above and you're done</p>
                        <p class="mb-0">6) the bot name should be the username with which you logged in, channel name is the channel where you will stream</p>
                    </div>
                    
                </div>
            </div>

            <!-- Payload Loader Section -->
            <div class="card mb-4">
                <div class="card-header">
                    Payload Loader Config
                </div>
                <div class="card-body">
                    <div class="form-check form-switch">
                        <input asp-for="PayloadLoaderConfig.DownloadEnabled" class="form-check-input" type="checkbox" role="switch" id="DownloadEnabled">
                        <label class="form-check-label" for="DownloadEnabled">Download Enabled</label>
                    </div>
                    <span asp-validation-for="PayloadLoaderConfig.DownloadEnabled" class="text-danger d-block"></span>
                    <div class="form-check form-switch">
                        <input asp-for="PayloadLoaderConfig.UseVanillaPayloads" class="form-check-input" type="checkbox" role="switch" id="UseVanillaPayloads">
                        <label class="form-check-label" for="UseVanillaPayloads">Use Vanilla Payloads</label>
                    </div>
                    <span asp-validation-for="PayloadLoaderConfig.UseVanillaPayloads" class="text-danger d-block"></span>
                    <div class="mb-3 mt-4">
                        <label for="CustomPayloadsFile" class="form-label">Custom Payloads File:</label>
                        <input asp-for="PayloadLoaderConfig.CustomPayloadsFile" type="text" class="form-control" id="CustomPayloadsFile" placeholder="myFile.json">
                    </div>
                    <span asp-validation-for="PayloadLoaderConfig.CustomPayloadsFile" class="text-danger d-block"></span>
                </div>
            </div>

            <!-- Twitch Poll Section -->
            <div class="card mb-4">
                <div class="card-header">
                    Twitch Poll Chaos Config
                </div>
                <div class="card-body">
                    <div class="mb-3 mt-4">
                        <label for="VoteRoundLengthInSeconds" class="form-label">Vote round length (seconds):</label>
                        <input asp-for="TwitchPollConfig.VoteRoundLengthInSeconds" type="number" class="form-control" id="VoteRoundLengthInSeconds">
                    </div>
                    <span asp-validation-for="TwitchPollConfig.VoteRoundLengthInSeconds" class="text-danger d-block"></span>
                </div>
            </div>

            <!-- Local Chaos Section -->
            <div class="card mb-4">
                <div class="card-header">
                    Local Chaos Config
                </div>
                <div class="card-body">
                    <div class="mb-3 mt-4">
                        <label for="CustomPayloadsFile" class="form-label">Payload frequency interval (seconds):</label>
                        <input asp-for="LocalChaosConfig.IntervalInSeconds" type="number" class="form-control" id="CustomPayloadsFile">
                    </div>
                    <span asp-validation-for="LocalChaosConfig.IntervalInSeconds" class="text-danger d-block"></span>
                    <div class="form-check form-switch">
                        <input asp-for="LocalChaosConfig.IsSequential" class="form-check-input" type="checkbox" role="switch" id="IsSequential">
                        <label class="form-check-label" for="IsSequential">Execute Payloads in order (do not randomize)</label>
                    </div>
                </div>
            </div>

            <!-- Game Config Section -->
            <div class="card mb-4">
                <div class="card-header">
                    Game Config (Advanced)
                </div>
                <div class="card-body">
                    <div class="alert alert-warning" role="alert">
                        You won't need to adjust these settings unless you know what you're doing.
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text">Host</span>
                        <input asp-for="AmnesiaClientConfig.Host" type="text" class="form-control" aria-label="Host">
                        <span class="input-group-text">Port</span>
                        <input asp-for="AmnesiaClientConfig.Port" type="number" class="form-control" aria-label="Port">
                    </div>
                    <span asp-validation-for="AmnesiaClientConfig.Host" class="text-danger d-block"></span>
                    <span asp-validation-for="AmnesiaClientConfig.Port" class="text-danger mb-3 d-block"></span>
                </div>
            </div>

            <div class="d-grid gap-2">
                <button id="SaveButton" class="btn btn-success" type="submit">Save Changes</button>
            </div>
        </form>
    </main>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Hide the API key on page load
        window.addEventListener("DOMContentLoaded", () => {
            const input = document.getElementById("BotApiKey");
            if (!document.getElementById("showApiKeyToggle").checked) {
                input.type = "password";
            }
        });

        function toggleApiKeyVisibility() {
            const input = document.getElementById("BotApiKey");
            const toggle = document.getElementById("showApiKeyToggle");
            input.type = toggle.checked ? "text" : "password";
        }
    </script>
}
